# =========================
# FilmStars - Environment
# =========================

NODE_ENV=development

# =========================
# JWT
# =========================

JWT_SECRET=filmstars_jwt_secret_key_2026
JWT_EXPIRES_IN=24h

# =========================
# API Gateway
# =========================

API_GATEWAY_PORT=8080

USERS_SERVICE_URL=http://localhost:3001
MOVIES_SERVICE_URL=http://localhost:3002
RESERVATIONS_SERVICE_URL=http://localhost:3003
PAYMENTS_SERVICE_URL=http://localhost:3004

# =========================
# Users Service
# =========================

USERS_SERVICE_PORT=3001

USERS_DB_HOST=localhost
USERS_DB_HOST_INTERNAL=db-users
USERS_DB_PORT=5433
USERS_DB_PORT_INTERNAL=5432
USERS_DB_NAME=filmstars_users
USERS_DB_USER=postgres
USERS_DB_PASS=postgres123

DEFAULT_ADMIN_NAME=FilmStars Admin
DEFAULT_ADMIN_EMAIL=admin@filmstars.com
DEFAULT_ADMIN_PASSWORD=admin12345

# =========================
# Movies Service
# =========================

MOVIES_SERVICE_PORT=3002

MOVIES_DB_HOST=localhost
MOVIES_DB_HOST_INTERNAL=db-movies
MOVIES_DB_PORT=5434
MOVIES_DB_PORT_INTERNAL=5432
MOVIES_DB_NAME=filmstars_movies
MOVIES_DB_USER=postgres
MOVIES_DB_PASS=postgres123

# =========================
# Reservations Service
# =========================

RESERVATIONS_SERVICE_PORT=3003

RESERVATIONS_DB_HOST=localhost
RESERVATIONS_DB_HOST_INTERNAL=db-reservations
RESERVATIONS_DB_PORT=5435
RESERVATIONS_DB_PORT_INTERNAL=5432
RESERVATIONS_DB_NAME=filmstars_reservations
RESERVATIONS_DB_USER=postgres
RESERVATIONS_DB_PASS=postgres123

# =========================
# Payments Service
# =========================

PAYMENTS_SERVICE_PORT=3004

PAYMENTS_DB_HOST=localhost
PAYMENTS_DB_HOST_INTERNAL=db-payments
PAYMENTS_DB_PORT=5436
PAYMENTS_DB_PORT_INTERNAL=5432
PAYMENTS_DB_NAME=filmstars_payments
PAYMENTS_DB_USER=postgres
PAYMENTS_DB_PASS=postgres123

# =========================
# RabbitMQ
# =========================

RABBITMQ_HOST=localhost
RABBITMQ_HOST_INTERNAL=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_URL_INTERNAL=amqp://admin:admin123@rabbitmq:5672
RABBITMQ_MANAGEMENT_URL=http://localhost:15672
