# URL del API Gateway (NestJS)
# Cambia el puerto según tu configuración del backend
VITE_API_URL=http://localhost:3000

# Modo mock: true = usa datos falsos, false = conecta al backend real
VITE_USE_MOCK=true